---
layout: page
useFancybox: true
---
<style TYPE="text/css">
body {
    background: #959796 url(/images/wood-repeat.jpg);
    color: #fff;
}
.container {
    width: 100%; margin: 40px auto;
}

ul.mygallery li a {
    float: left;
    padding: 10px 10px 25px 10px;
    background: #d9d9d9;
    border: 1px solid #fff;
    margin: 10px;
}

ul.mygallery {
list-style:none;
}

.entry-content li {
    padding-bottom:0;
}

.gallery-link .desc {
    margin: 0 auto;
    padding: 5px 0 5px 0;
}
</style>

<div class="container">
<ul class="mygallery">
{% for gallery in page.galleries %}
        <li>
        <a class="gallery-link" rel="winterspyre " href="{{ gallery['gallery'] }}" ><img src="{{ site.asset_url }}/{{page.path | remove: "index.html"}}{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}" class="thumbnail" width="150" height="150">
                    <div>
        <h3 class="desc">{{ gallery["catetory_tag"] }}</h3>
        </div>
        <span>
        {{ gallery["gallery_time"] }}[{{ gallery["images"] | size }} 张]
        </span>
        <span>
        
        </span>
        </a>
        </li>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53624533-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="请将此处替换成文章在你的站点中的ID" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"jowaywong"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
{% endfor %}
</ul>
</div>



